.label {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    opacity: .5;
    cursor: pointer;
    transition: opacity 500ms linear;
}

.label:hover {
    opacity: 1;
}
