.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 100vh;
    padding: 5% 0;
    box-sizing: border-box;
}

.boldHeader {
    font-size: 2rem;
    font-style: italic;
}

.blueHeader {
    align-self: flex-start;
}

.sphere {
    width: 20rem;
    height: 20rem;
    margin: auto;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.dashCircleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    inset: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: -1;
}

.dashCircle {
    width: 40rem;
    height: 40rem;
    animation: rotate 40s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

@media screen and (max-width: 900px) {
    .home {
        padding: 15% 0;
    }

    .boldHeader {
        font-size: 2rem;
        font-style: italic;
        line-height: 2rem;
        align-self: center;
    }

    .blueHeader {
        text-align: center;
        font-size: 1.5rem;
        line-height: 2rem;
        align-self: center;
    }

    .sphere {
        width: 16rem;
        height: 16rem;
    }

    .dashCircle {
        width: 23rem;
        height: 23rem;
    }
}
