.contact {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 5% 0;
    box-sizing: border-box;
}

.contactFormContainer {
    flex: 1;
    display: flex;
    align-items: center;
}

.contactForm {
    width: 100%;
}

@media screen and (max-width: 900px) {
    .contact {
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding: 15% 0;
    }

    .contactFormContainer {
        flex: 0;
    }
}
