.greet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 5% 0;
    box-sizing: border-box;
}

.headersContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.hseLogo {
    width: 5rem;
    height: 5rem;
}

@media screen and (max-width: 900px) {
    .greet {
        text-align: center;
        padding: 15% 0;
    }

    .headersContainer {
        flex-direction: column;
        gap: 3.5rem;
    }

    .hseLogo {
        width: 4rem;
        height: 4rem;
    }
}
